@keyframes side-movement1 {
    0% {
        left: 100px;
        top: 0px;
    }
    50% {
        left: 200px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes side-movement2 {
    0% {
        bottom: 100px;
        top: 0px;
    }
    50% {
        bottom: 200px;
        top: 200px;
    }
    100% {
        bottom: 0px;
        top: 0px;
    }
}

@keyframes main-wall-movement1 {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    50% {
        transform: translate3d(0px, 100px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes main-wall-movement2 {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    50% {
        transform: translate3d(100px, 0px, 100px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes main-wall-shadow {
    0% {
        box-shadow: inset 2px 2px 2.5px #423f3f;
    }
    30% {
        box-shadow: 0px 0px 9px 2px rgba(9, 8, 7, 1);
    }
    70% {
        box-shadow: 0px 0px 19px 2px rgba(9, 8, 7, 3);
    }
    100% {
        box-shadow: inset 2px 2px 2.5px #423f3f;
    }
}