.pillar-block{
    /* display: none; */
}
#pillar-container{
    width: 800px;
    height: 440px;
    /* background: green; */
    transform-style: preserve-3d;
    /* transform: rotateX(-40deg) rotateY(32deg); */
    /* margin: 1.5em auto; */
    position: absolute;
}
#pillar-container.onnu{
    transform: translateX(286px) translateY(76px) rotateX(6deg) rotateY(-22deg);
}
#pillar-container.rendu{
    transform: translateX(233px) translateY(74px) rotateX(6deg) rotateY(-22deg)
}

.pillar-block.one {
    left: 58px;
    position: absolute;
    bottom: 0px;
}

.pillar-block.two {
    left: 653px;
    position: absolute;
    bottom: 0px;
}

.pillar-block.three {
    transform: translateZ(186px) skewX(0deg);
    left: 70px;
    background: white;
    z-index: 0;
    height: -23px;
    position: absolute;
    bottom: -6px;
}

.pillar {
    position: absolute;
    opacity: 0.35;
    background: #2d2b2bb5;
    border: 1px solid rgba(0, 0, 0, .5);
    width: 40px;
    height: 70px;
}

.pillar.p_back {
    transform: translateZ(40px);
}

.pillar.p_right {
    transform: rotateY(90deg) translateZ(20px) translateX(-20px)
}

.pillar.p_left {
    transform: rotateY(90deg) translateZ(-20px) translateX(-20px);
    /* transform: rotateY(-90deg) translateZ(100px) translateX(100px); */
}
.pillar.p_left1 {
    transform: rotateY(90deg) translateZ(-20px) translateX(-170px)
    /* transform: rotateY(-90deg) translateZ(100px) translateX(100px); */
}
.pillar.p_front1 {
    transform: translateZ(147px);
}