html,
body {
    height: 100%;
    width: 100%;
    padding: unset;
    margin: unset;
}

body {}

.building-container {
    height: 100%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(#b3c1da, #fdfdfd, #084000)
}

.main-block {
    width: 800px;
    height: 440px;
    /* background: green; */
    transform-style: preserve-3d;
    /* transform: rotateX(-40deg) rotateY(32deg); */
    /* margin: 1.5em auto; */
    transform: translateX(292px) translateY(73px) rotateX(6deg) rotateY(-22deg);
}

.side {
    position: absolute;
    /* border: 1px solid rgba(0, 0, 0, .8); */
    box-shadow: inset 0.5px 0.5px 6px 0.5px #423f3f;
    /* background: white;
    text-align: center;
}

.side-front {
    /* width: 600px;
    height: 500px; */
    width: 760px;
    height: 440px;
}

.side-left {
    width: 200px;
    /* height: 500px; */
    height: 440px;
}

.side-top {
    width: 760px;
    height: 200px;
}

.front {
    background: #fff6e9f5;
}

.back {
    transform: translateZ(200px);
}

.right {
    transform: rotateY(90deg) translateZ(660px) translateX(-100px);
}

.left {
    background: #fff6e9f5;
    transform: rotateY(-90deg) translateZ(100px) translateX(100px);
}

.top {
    background: white;
    transform: rotateX(90deg) translateZ(100px) translateY(100px);
}

.bottom {
    transform: rotateX(90deg) translateZ(-340px) translateY(100px);
}

.wrapper {
    width: 100px;
    height: 100px;
    background: green;
}

.ground {
    position: absolute;
    width: 1110px;
    height: 1003px;
    transform: rotateX(84deg) rotateZ(-203deg) translateX(-281px) translateZ(-117px) translateY(202px);
    border: 2px solid;
    background: #adadad;
}

.logo {
    width: 50px;
    height: 50px;
    /* background: url(mu.png); */
    border: 1px solid grey;
    position: absolute;
    box-shadow: 1px 1px 4px 1px grey;
    margin: 12px;
    animation-name: logo-animate;
    animation-duration: 2s;
    animation-delay: 4s;
}
.img{
    width: 50px;
    height: 50px;
}
.app-title{
    font-style: italic;
    position: absolute;
    top: 0px;
    color: red;
    font-size: 50px;
    text-shadow: 5px 4px 4px grey;
    font-family: serif;
}
.app-img{
    position: absolute;
    bottom: 5px;
    border: 1px solid #542a21;
    box-shadow: 4px -3px 8px black;
    left: 6px;
}