html,
body {
    height: 100%;
    width: 100%;
    padding: unset;
    margin: unset;
}

body {}

.building-container {
    height: 100%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(#7ca0de, #dee6ef, #9e9e9e);
}

.main-block {
    width: 800px;
    height: 440px;
    /* background: green; */
    transform-style: preserve-3d;
    /* transform: rotateX(-40deg) rotateY(32deg); */
    /* margin: 1.5em auto; */
    transform: translateX(292px) translateY(73px) rotateX(6deg) rotateY(-22deg);
}

.side {
    position: absolute;
    /* background: rgba(tomato, .6); */
    border: 1px solid rgba(0, 0, 0, .5);
    /* background: white;  */
    text-align: center;
}

.side-front {
    /* width: 600px;
    height: 500px; */
    width: 760px;
    height: 440px;
}

.side-left {
    width: 200px;
    /* height: 500px; */
    height: 440px;
}

.side-top {
    width: 760px;
    height: 200px;
}

.front {
    background: white;
}

.back {
    transform: translateZ(200px);
}

.right {
    transform: rotateY(90deg) translateZ(660px) translateX(-100px);
}

.left {
    background: white;
    transform: rotateY(-90deg) translateZ(100px) translateX(100px);
}

.top {
    background: white;
    transform: rotateX(90deg) translateZ(100px) translateY(100px);
}

.bottom {
    transform: rotateX(90deg) translateZ(-340px) translateY(100px);
}

.wrapper {
    width: 100px;
    height: 100px;
    background: green;
}

.ground {
    position: absolute;
    width: 800px;
    height: 1055px;
    transform: rotateX(84deg) rotateZ(-109deg) translateX(-201px) translateZ(10px) translateY(230px);
    border: 2px solid;
    background: blanchedalmond;
}

.logo {
    width: 82px;
    height: 80px;
    background: url(mu.png);
    border: 1px solid grey;
    position: absolute;
    box-shadow: 1px 1px 4px 1px grey;
    margin: 12px;
    animation-name: logo-animate;
    animation-duration: 2s;
    animation-delay: 4s;
}